<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2"></div>
        <div class="col col-12 col-sm-8">
            <br><br><br>
            <h1 class="text-center">Search Student</h1>
            <br><br>
            <form (ngSubmit)=onSubmit(f) #f="ngForm">
                <table class="table table-borderless">
                    <tr>
                        <td><h4 class="text-left">Admission number:</h4></td>
                        <td><input type="text" class="form-control" name="sadmn" ngModel></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="btn btn-info" type="submit" ngSubmit>SEARCH</button></td>
                    </tr>

                </table>
            </form>

        </div>
        <div class="col col-12 col-sm-2"></div>
    </div>
</div>

<!-- <p *ngIf="!status else display"></p>
<ng-template #display> -->
<div class="container mt-5">
    <div class="row">
        <div class="col col-12 col-sm-2"></div>
        <div class="col col-12 col-sm-8">
            <br><br>
            <h1 class="text-center">Search Results</h1>
            <br><br>
            <table class="table table-borderless">
                <thead class="table-dark"> <!--bg-primary, success, warning, danger, info-->
                  <tr>
                      <th>Name:</th>
                      <th>Roll no:</th>
                      <th>Admission no:</th>
                      <th>Date of Birth</th>
                      <th>Email ID</th>
                      <th>Branch</th>
                      <th>College</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of studentData"> 
                    <td><input type="text" style='width:100%' name="uname" [(ngModel)]=data.uname></td>
                    <td><input type="text" style='width:100%' name="uroll" [(ngModel)]=data.uroll></td>
                    <td><input type="text" style='width:100%' name="uadmn" [(ngModel)]=data.uadmn></td>
                    <td><input type="text" style='width:100%' name="udob" [(ngModel)]=data.udob></td>
                    <td><input type="text" style='width:100%' name="umail" [(ngModel)]=data.umail></td>
                    <td><input type="text" style='width:100%' name="ubrnch" [(ngModel)]=data.ubrnch></td>
                    <td><input type="text" style='width:100%' name="ucolg" [(ngModel)]=data.ucolg></td>
                  </tr> 
                  <tr>
                    <td><button class="btn btn-success" (click)="edit()">UPDATE</button></td>
                    <td><button class="btn btn-danger" (click)="delete()">DELETE</button></td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-12 col-sm-2"></div>
    </div>
</div>
<!-- </ng-template> -->


